
@import "../../common/mixin"

$font-family: 'Roboto Condensed'
$font-name: 'Roboto Condensed'
$name-prefix: 'Roboto-Condensed'
$file-prefix: 'RobotoCondensed'
$dir: '../fonts/'

$types: "eot" "svg" "ttf" "woff" "woff2" "otf"
$params: ("Light" "Light" "Light" 300 (normal italic)), ("Regular" "Regular" "Regular" 400 (normal italic)), ("Bold" "Bold" "Bold" 700 (normal italic))

$font: ($font-family, $font-name, $name-prefix, $file-prefix, $dir)

+setup-font($font, $params, $types)
